# This is a basic workflow to help you get started with Actions

name: CI_backend

on: [push, pull_request]

jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    - run: git fetch --prune --unshallow
    - name: Setup Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Use Python Dependency Cache
      id: pip-cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('Dioptas.spec') }}-c3
        restore-keys: |
          ${{ runner.os }}-pip-c3

    - name: Install Apt Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install python3-opengl libgl1-mesa-dev libglib2.0-0

    - name: Install Pip Dependencies
      run: |
        pip install pycifrw pandas python-dateutil h5py scikit-image pyqt6 cython future qtpy pyfai lmfit \
                    pyepics extra_data pyinstaller pyopengl pyopengl-accelerate watchdog h5py hdf5plugin pyqtgraph \
                    mock pytest pytest-xvfb pytest-qt

    - name: Run tests
      shell: bash -l {0}
      run: |
        py.test dioptas/tests/unit_tests/test_background_extraction.py
        py.test dioptas/tests/unit_tests/test_BatchModel.py
        py.test dioptas/tests/unit_tests/test_calc.py
        py.test dioptas/tests/unit_tests/test_CalibrationModel.py
        py.test dioptas/tests/unit_tests/test_cif.py
        py.test dioptas/tests/unit_tests/test_DioptasModel.py
        py.test dioptas/tests/unit_tests/test_FileNameIterator.py
        py.test dioptas/tests/unit_tests/test_HelperModule.py
        py.test dioptas/tests/unit_tests/test_ImgCorrections.py
        py.test dioptas/tests/unit_tests/test_ImgModel.py
        py.test dioptas/tests/unit_tests/test_Jcpds.py
        py.test dioptas/tests/unit_tests/test_MaskModel.py
        py.test dioptas/tests/unit_tests/test_NewFileInDirectoryWatcher.py
        py.test dioptas/tests/unit_tests/test_OverlayModel.py
        py.test dioptas/tests/unit_tests/test_Pattern.py
        py.test dioptas/tests/unit_tests/test_PatternModel.py
        py.test dioptas/tests/unit_tests/test_PhaseModel.py
        py.test dioptas/tests/unit_tests/test_Signal.py
