QWidget {{
    color: #F1F1F1;
}}
QFrame {{
    border: 0px solid #5B5B5B;
}}

QGroupBox {{
    border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
}}

QGroupBox::title {{
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QComboBox {{
    selection-background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QComboBox::item:selected {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}}


/* QPushButtons */


QPushButton {{
    border: none;
    text-transform: none;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-radius: 5px;
    font-weight: 550;
}}

QPushButton:flat {{
    padding: 4px 8px;
}}

QPushButton:hover {{
    border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
}}

QPushButton:flat:checked {{
    border: 1px solid  rgb(128, 75, 0);
    background-color: transparent;
    padding: 4px 6px;
}}

QPushButton:flat:hover {{
    border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
    padding: 4px 6px;
}}

QPushButton:flat:checked:hover {{
    border: 1px solid  {QTMATERIAL_PRIMARYCOLOR}; 
    background-color: transparent;
}}


#menu_btn {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-radius: 15px;
}}

#menu_btn:hover {{
    border-color: {QTMATERIAL_PRIMARYCOLOR};
}}

#menu_btn:pressed {{
    background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

#calibration_mode_btn, #mask_mode_btn, #integration_mode_btn, #map_mode_btn {{
    border-radius: 0;
    border: none;
    background-color: transparent;
}}

#calibration_mode_btn:hover, #mask_mode_btn:hover, #integration_mode_btn:hover, #map_mode_btn:hover {{
    border: none;
    background-color: rgba(255, 149, 0, 0.1);
    padding: 0px;
}}

#calibration_mode_btn:pressed, #mask_mode_btn:pressed, #integration_mode_btn:pressed, #map_mode_btn:pressed {{
    background-color: rgba(255, 149, 0, 0.3);
    padding: 0px;
}}

#calibration_mode_btn:checked, #mask_mode_btn:checked, #integration_mode_btn:checked, #map_mode_btn:checked {{
    background-color: rgba(255, 149, 0, 0.2);
    padding: 0px;
}}

QToolTip {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-width: 0px;
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QScrollBar:vertical {{
    border: none;
    width: 8px;
    margin: 0px 0px 0px 0px;
}}

QScrollBar::horizontal {{
    width: 8px;
}}

QGroupBox {{
    padding-top: 20px;
}}

#mask_widget QPushButton, #calibration_widget QPushButton, #integration_widget QPushButton {{
    height: 15px;
}}