QWidget {{
    color: #F1F1F1;
}}
QFrame {{
    border: 0px solid #5B5B5B;
}}

QGroupBox {{
    border: 1px solid {QTMATERIAL_SECONDARYCOLOR};
}}

QGroupBox::title {{
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QComboBox {{
    selection-background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QComboBox::item:selected {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}}


QPushButton {{
    border: none;
    text-transform: none;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-radius: 5px;
    font-weight: 550;
}}

QPushButton:hover {{
    border: 1px solid {QTMATERIAL_PRIMARYCOLOR};
    padding: 0px;
}}

#menu_btn {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-radius: 15px;
}}

#menu_btn:hover {{
    border-color: {QTMATERIAL_PRIMARYCOLOR};
}}

#menu_btn:pressed {{
    background-color: {QTMATERIAL_PRIMARYCOLOR};
}}

#calibration_mode_btn, #mask_mode_btn, #integration_mode_btn, #map_mode_btn {{
    border-radius: 0;
}}

QToolTip {{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border-width: 0px;
    color: {QTMATERIAL_PRIMARYTEXTCOLOR};
}}

QScrollBar:vertical {{
    border: none;
    width: 8px;
    margin: 0px 0px 0px 0px;
}}

QGroupBox {{
    padding-top: 20px;
}}

#mask_widget QPushButton, #calibration_widget QPushButton, #integration_widget QPushButton {{
    height: 15px;
}}